/*



	" Reimplement the wheel to either learn, or make it better. "

    http://www.haydex.com/
    https://www.youtube.com/watch?v=QOlTGA3RE8I
    
    Product Name: Btracker
	Description: Tracking Blog's data.
	Beneficiary: COSMOS
	
	Copyright © 1988 - 2020 HAYDEX, All Rights Reserved.
	
	
	
*/

/** Global settings **/

:root {
    
    /* theme */

    --reddish: #fd4444;
    --reddishLight: rgb(255, 113, 113);
    --reddishLight2: rgb(253, 68, 68, 0.4);
    --blackish: #242120;
    --blackish2: #2c2928;
    --shadow: rgb(0, 0, 0, 0.5);
    --blackishTransparent0: rgb(36, 33, 32, 0.9);
    --blackishTransparent1: rgb(36, 33, 32, 0.3);
    --blackishTransparent2: rgb(36, 33, 32, 0.2);
    --blackishTransparent3: rgb(36, 33, 32, 0);
    --blackishTransparent4: rgb(36, 33, 32, 0);
    --blackishTransparent5: rgba(36, 33, 32, 0.90);
    --blackishShadow: hsla(15, 6%, 13%, 0.3);
    --littleGrey: hsla(15, 6%, 20%, 0.9);
    --littleGrey2: hsla(15, 6%, 25%, 1);
    --greyishDark: hsla(15, 6%, 40%, 0.3);
    --greyish: hsla(15, 6%, 40%, 1);
    --lightGreyish: hsla(15, 6%, 60%, 1);
    --lighterGreyish: rgb(230, 230, 230);
    --whitish: hsla(15, 6%, 100%, 1);
    --whitishTransparent1: hsla(15, 6%, 100%, 0.9);
    --blueish: #2C8DFF;
    --lightBlueish: rgb(136, 191, 255);
    --lightBlueish1: rgb(75, 159, 255);

    /* fonts */

    --size12: 12px;
    --size14: 14px;
    --size16: 16px;
    --size18: 18px;
    --size22: 22px;
    --size28: 28px;
    --size30: 30px;
    --size34: 34px;
    --size38: 38px;
    --size48: 48px;
    --size58: 58px;

    /* radius */

    --radius5: 5px;
    --radius13: 13px;
    --radius15: 15px;
    --radius25: 25px;
    --radius1000: 1000px;

    /* interface */

    --interface: url(/emotions-analysis/assets/interface/interface.svg);
    
}

html {

    color: var(--blueishDark);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {

	background-color:var(--whitish);
    margin: 0px;
    box-sizing: inherit;

}

body::after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: var(--interface);
  }  

a {

    text-decoration: none;
    color: inherit;

}

a:hover {

    color: inherit;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

* {

    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -ms-overflow-style: none;
    scrollbar-width: none !important;

}

ul {

    list-style: none;

}

body.freeze {

    overflow: hidden;
    
}

button {

    background-color: transparent;
    border: 0px;
    outline: 0px;
    cursor: hand;
    cursor: pointer;

}

span.highlighter {

    background-color: var(--blueishLight);

}


/* Filters */

section#filters {

    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    color: var(--whitish);
    margin-left: 20px;
    font-size: var(--size18);

}

section#filters div#diagramSelectorWrapper {

    margin-left: 10px;
    margin-bottom: 30px;

}

section#filters div#diagramSelectorWrapper p#diagramSelectorLabel  {

    margin-bottom: 10px;
    opacity: 0.5;

}

section#filters div#diagramSelectorWrapper select#diagramSelector  {

    color: var(--blackish);
    background-color: var(--whitish);
    font-size: var(--size18);
    border-radius: 10px;
    padding: 5px 10px;
    outline: 0px;
    cursor: pointer;

}

section#filters div#diagramSelectorWrapper select#diagramSelector:hover  {

    color: var(--blackish);
    background-color: var(--whitish);

}

section#filters p#filtersLabel {

    margin-left: 10px;
    margin-top: 50px;
    opacity: 0.5;

}

section#filters ul li {

    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    border: 2px solid var(--whitish);
    cursor: pointer;

}

section#filters ul li#anger:hover {
    
    border-color: rgba(227, 119, 194, 1);

}

section#filters ul li#fear:hover {
    
    border-color: rgba(140, 86, 75, 1);

}

section#filters ul li#anticipation:hover {
    
    border-color: rgba(148, 103, 189, 1);

}

section#filters ul li#surprise:hover {
    
    border-color: rgba(214, 39, 40, 1);

}

section#filters ul li#joy:hover {
    
    border-color: rgba(44, 160, 44, 1);

}

section#filters ul li#sadness:hover {
    
    border-color: rgba(255, 127, 14, 1);

}

section#filters ul li#trust:hover {
    
    border-color: rgba(31, 119, 180, 1);

}

section#filters ul li#disgust:hover {
    
    border-color: rgba(127, 127, 127, 1);

}



section#filters ul li#anger.active {
    
    background-color: rgb(227, 119, 194);

}

section#filters ul li#fear.active {
    
    background-color: rgb(140, 86, 75);

}

section#filters ul li#anticipation.active {
    
    background-color: rgb(148, 103, 189);

}

section#filters ul li#surprise.active {
    
    background-color: rgb(214, 39, 40);

}

section#filters ul li#joy.active {
    
    background-color: rgb(44, 160, 44);

}

section#filters ul li#sadness.active {
    
    background-color: rgb(255, 127, 14);

}

section#filters ul li#trust.active {
    
    background-color: rgb(31, 119, 180);

}

section#filters ul li#disgust.active {
    
    background-color: rgb(127, 127, 127);

}

/*  APEXCHARTS */

#chart {
    margin: 50px auto;
    margin-left: 10px;
    margin-right: 10px;
}

#chart, .chart-box {
    padding-top: 0px;
    padding-left: 10px;
    background: #fff;
}

.apexcharts-canvas {
    margin: 0 auto;
}

span.apexcharts-legend-text span {

    font-weight: bold;

}

.apexcharts-legend {

    margin: 0px 0px;
}

.apexcharts-svg {

    /* overflow: visible; */

}

foreignObject {

    /* overflow: visible; */
}

.apexcharts-zoomin-icon, .apexcharts-zoomout-icon {

   display: none;

}

